{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "extends": "standard",
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "globals": {
    "mapboxgl": true,
    "THREE": true
  },
  "plugins": [],
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}