@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700");

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12px;
  background: #000;
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 600;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  background-color: #fff;
  color: #000;
}

a.not-underlined {
  text-decoration: none;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* intro */
.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.intro-container.hidden {
  display: none;
}

.intro-wrapper {
  max-width: 50%;
  /* text-align: center; */
}

.intro-description {
  margin: 20px 0 20px 0;
}

/* Buttons */

.btn {
  display: inline-block;
  overflow: hidden;

  padding: 10px 12px;

  cursor: pointer;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: none;

  color: #fff;
  background: #000;
  border: 1px #fff solid;

  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-size: inherit;
  font-family: inherit;
}

.btn:hover:enabled {
  transition: all 150ms linear;
  background: #fff;
  color: #000;
}

.btn:active:enabled {
  transition: all 150ms linear;
}

.btn:focus:enabled {
  outline: 1px dotted #fff;
}

.btn:disabled {
  opacity: 0.5;
  cursor: default;
}

/* video */
.video-container {
  position: relative;
  background-color: #000;
  overflow: hidden;
  height: 100vh;
}

.video-player {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.minivideo-player {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin: 0 0 10px 0;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  border: solid 1px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  top: 6px;
  height: 20px;
  width: 2px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* content */
.marker {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.info {
  font-size: 12px;
  line-height: 1.3;
  color: #000;
}

.info--inverted {
  font-size: 12px;
  color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0px auto;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: none;
  flex-wrap: wrap;
}

.footer.hidden {
  display: none;
}

.footer-wrapper {
  padding: 10px;
  display: flex;
}

/* MAP */
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-map {
  transition: none;
}

.mapboxgl-control-container {
  display: none;
}

.opacity-off {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 3s, opacity 3s linear;
}

/* Pop up*/
.mapboxgl-popup {
  pointer-events: auto;
  font: 8px/14px "IBM Plex Sans", sans-serif;
  color: #fff;
  /* max-width: 120px; */
}

.mapboxgl-popup-content {
  position: relative;
  background: #000;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 10px;
  pointer-events: auto;
  cursor: pointer;
}

.popup-left {
  float: left;
  margin-right: 10px;
}

.popup-right {
  float: right;
}

.popup-quartier {
  font-weight: 600;
}

.popup-location {
  margin: 0 0 10px 0;
}


/* Content */
.content-container {
  width: 90%;
  margin: 10% auto 10% auto;
}

.content-container video {
  width: 100%;
  height: auto;
}

.section-container {
  margin: 50px 0 50px 0;
}

.content-container p {
  margin: 10px 0 10px;
}

/* Dropdown menu */
.dropdown-container {
  position: relative;
}

.dropdown-container p, a {
  display: block;
  cursor: pointer;
  white-space: nowrap;
  color: #fff;
  background: #000;
  padding: 10px 12px;
  line-height: 1.3;
}

.dropdown-container a {
  text-decoration: none;
}

.dropdown-container p:hover, .dropdown-container p.active, .dropdown-container a:hover {
  transition: all 150ms linear;
  background: #fff;
  color: #000;
}

.dropdown-wrapper-up {
  position: absolute;
  bottom: 0;
  margin-bottom: 47px;
  left: 0;
}

.dropdown-menu {
  width: 120px;
  display: none;
  background-color: #010101;
  border: 1px #fff solid;
  list-style: none;  
  padding: 0;
  margin: 0;
}

.control-container {
  padding: 0;
  margin: 0 10px 0 10px;
}

.header {
  padding: 10px;
}


/* Medium mobile*/
@media only screen and (min-width : 480px) {
  .content-container {
    width: 80%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) {
  .content-container {
    width: 60%;
  }
}

/* desktops ----------- */
@media only screen and (min-width : 1080px) {
  .content-container {
    width: 50%;
    margin: 5% auto 5% auto;
  }
}

/* desktops ----------- */
@media only screen and (min-width : 1280px) {
  .content-container {
    width: 700px;
  }
}
