@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  background: #000;
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

/* video */

.video-container {
  position: relative;
  background-color: #000;
  overflow: hidden;
}

.hidden {
  display: none;
}

.video-player { 
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.4;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


/* content */
.info {
  font-size: 12px;
  text-align: center;
  color: #000;
}

.info--inverted {
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0px auto;
  width: 100%;
  padding: 10px;
  background: #000;
  }


.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0px auto;
  width: 100%;
  background: #000;
}

.header-wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.header-left {
  width: 20%;
  margin: 20px 0 20px 0;
}

.header-right {
  width: 75%;
  margin: 20px 0 20px 0;
}
  
/* MAP */
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-control-container {
  display: none;
}

.radial-gradient {
  pointer-events: none;
  height: 100vh;
  background-size: 100% 100%;
  background-position: 50% 50%;
  transition: all 2s ease;
  background: 
    radial-gradient(
      0px 0px at center, rgba(255, 255, 255, 0) 0%, black 50.5%
    );
}

/* Pop up*/
.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'IBM Plex Sans', sans-serif;
  color: #fff;
}

.mapboxgl-popup-content {
  position: relative;
  background: #000;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
}

.mapboxgl-popup-tip {
  border-top-color: #000 !important;
}

.popup-left {
  float: left;
  margin-right: 10px;
}

.popup-right {
  float: right;
  margin-left: 10px;
}