@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,700');

@-webkit-keyframes BUTTON-INTRO-ANIMATION {
from   { opacity: 0; }
to  { opacity: 1; }
}
@-moz-keyframes BUTTON-INTRO-ANIMATION {
from   { opacity: 0; }
to  { opacity: 1; }
}
@-o-keyframes BUTTON-INTRO-ANIMATION {
from   { opacity: 0; }
to  { opacity: 1; }
}
@keyframes BUTTON-INTRO-ANIMATION {
from   { opacity: 0; }
to  { opacity: 1; }
}

@-webkit-keyframes TITLE-ANIMATION {
  0% { r: 3px; opacity: 0; }
  20% { r: 2.5px; opacity: 1; }
  100% { r: 0.5px; opacity: 1; }
}
@-moz-keyframes TITLE-ANIMATION {
  0% { r: 3px; opacity: 0; }
  20% { r: 2.5px; opacity: 1; }
  100% { r: 0.5px; opacity: 1; }
}
@-o-keyframes TITLE-ANIMATION {
  0% { r: 3px; opacity: 0; }
  20% { r: 2.5px; opacity: 1; }
  100% { r: 0.5px; opacity: 1; }
}
@keyframes TITLE-ANIMATION {
  0% { r: 3px; opacity: 0; }
  20% { r: 2.5px; opacity: 1; }
  100% { r: 0.5px; opacity: 1; }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 13px;
  line-height: 18px;
  background: #000;
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 100px;
}

h2 {
  font-weight: 700;
  line-height: 14px;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  background-color: #fff;
  color: #000;
}

a.not-underlined {
  text-decoration: none;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* intro */
.intro-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  position: relative;
}

.intro-container.hidden {
  display: none;
}

.intro-title {
  width: 90vw;
  height: auto;
  text-align: center;
}

.intro-title circle {
  stroke: none;
  stroke-width: 0;
  fill: #fff;
  opacity: 0;

  -webkit-animation: 6s linear forwards TITLE-ANIMATION; /* Safari 4+ */
  -moz-animation:    6s linear forwards TITLE-ANIMATION; /* Fx 5+ */
  -o-animation:      6s linear forwards TITLE-ANIMATION; /* Opera 12+ */
  animation: 6s linear forwards TITLE-ANIMATION;
}

.intro-actions {
  text-align: center;
  opacity: 0;
  -webkit-animation: 3s linear 3s forwards BUTTON-INTRO-ANIMATION; /* Safari 4+ */
  -moz-animation:    3s linear 3s forwards BUTTON-INTRO-ANIMATION; /* Fx 5+ */
  -o-animation:      3s linear 3s forwards BUTTON-INTRO-ANIMATION; /* Opera 12+ */
  animation:         3s linear 3s forwards BUTTON-INTRO-ANIMATION; /* IE 10+, Fx 29+ */
}

.intro-actions button {
  margin: 0 10px 0 10px;
}

/* Loader */
.loader-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  position: relative;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Buttons */

.btn {
  display: inline-block;
  overflow: hidden;

  padding: 10px 12px;

  cursor: pointer;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: none;

  color: #fff;
  background: #000;
  border: 1px #fff dotted;

  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-size: 14px;
  font-family: inherit;
}

.btn:hover:enabled {
  transition: all 150ms linear;
  background: #fff;
  color: #000;
}

.btn:active:enabled {
  transition: all 150ms linear;
}

.btn:focus:enabled {
  outline: none;
}

.btn:disabled {
  opacity: 0.5;
  cursor: default;
}

/* video */
.video-container {
  position: relative;
  background-color: #000;
  overflow: hidden;
  height: 100vh;
}

.video-player {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.video-player iframe {
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  border: dotted 1px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  top: 6px;
  height: 20px;
  width: 2px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* content */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0px auto;
  width: 100%;
  background: #000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer.hidden {
  display: none;
}

.footer-wrapper {
  padding: 10px;
  display: flex;
}

.footer-tooltip {
  margin: 20px 0 0 20px;
}

.footer-wrapper--column {
  display: block;
}

.tooltip-wrapper {
  display: flex;
  align-items: baseline;
}

.details-wrapper {
  margin: 0 0 0 20px;
}

.video-details-data-wrapper {
  display: flex;
}

.video-details-data-wrapper p {
  margin: 0 10px 0 0;
}

.details-highlight {
  font-weight: 700;
  line-height: 14px;
  font-size: 13px;
}

/* MAP */
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-map {
  transition: none;
}

.mapboxgl-control-container {
  display: none;
}

.opacity-off {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 3s, opacity 3s linear;
}

/* Pop up*/
.mapboxgl-popup {
  pointer-events: auto;
  font: 13px 'Titillium Web', sans-serif;
  color: #fff;
  min-width: 120px;
}

.mapboxgl-popup-content {
  position: relative;
  background: #000;
  border-radius: 10px;
  border: 1px dotted #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 10px;
  pointer-events: auto;
  cursor: pointer;
}

.mapboxgl-popup-tip.mapboxgl-popup-tip {
  border: none;
}

.mapboxgl-popup-tip:after {
  content: '';
  border-bottom: 1px dotted #fff;
  border-right: 1px dotted #fff;
  background-color: #000;
  position: absolute;
  left: calc(50% - 5px);
  bottom: -5px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.popup-left {
  float: left;
}

.popup-right {
  float: right;
}

.popup-description {
  margin: 10px 0 0 0;
  line-height: 15px;
}

.popup-location {
  line-height: 14px;
}

.popup-data {
  line-height: 14px;
}

/* .popup-lux {
  margin: 10px 0 0 0;
}

.popup-nqm {
  margin: 10px 0 0 0;
} */


/* Content */
.content-container {
  width: 90%;
  margin: 10% auto 10% auto;
}

.content-container video {
  width: 100%;
  height: auto;
}

.section-container {
  margin: 50px 0 50px 0;
}

.content-container p {
  margin: 10px 0 10px;
}

/* Dropdown menu */
.dropdown-container {
  position: relative;
  margin-right: 20px;
}

.dropdown-wrapper p, a {
  display: block;
  cursor: pointer;
  white-space: nowrap;
  color: #fff;
  background: #000;
  padding: 10px 12px;
  line-height: 1.3;
}

.dropdown-wrapper a {
  text-decoration: none;
}

.dropdown-wrapper p:hover, .dropdown-wrapper p.active, .dropdown-wrapper a:hover {
  transition: all 150ms linear;
  background: #fff;
  color: #000;
}

.dropdown-wrapper {
  position: absolute;
  bottom: 0;
  margin-bottom: 47px;
  left: 0;
}

.dropdown-menu {
  min-width: 150px;
  display: none;
  background-color: #010101;
  border: 1px #fff dotted;
  list-style: none;  
  padding: 0;
  margin: 0;
}

.control-container {
  display: flex;
  padding: 0;
  margin: 0 0 0 20px;
}

.header {
  padding: 10px;
}


/* Medium mobile*/
@media only screen and (min-width : 481px) {
  .content-container {
    width: 80%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 769px) {
  .content-container {
    width: 60%;
  }

  .control-details-wrapper {
    display: flex;
  }

  .footer-tooltip {
    margin: 0 0 0 20px;
  }
}

/* desktops ----------- */
@media only screen and (min-width : 1080px) {
  .content-container {
    width: 50%;
    margin: 5% auto 5% auto;
  }
  
.control-container {
  margin: 0 50px 0 50px;
}
}

/* desktops ----------- */
@media only screen and (min-width : 1280px) {
  .content-container {
    width: 700px;
  }
}
